
/* clon de pagina */
header{
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  border-bottom: 1px solid #bdbdbd;
}

.header-left{
  display: flex;
  align-items: center;
  column-gap: 20px;
}
.header-left nav a{
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  color: black;
  transition-duration: .5s;
}
.header-left nav a:hover{
  color: #00754a;
}
.locacion a{
  text-decoration: none;
  color: black;
  transition-duration: .8s;
}
.locacion a:hover{
  color: #00754a;
}

.btn-registro{
  padding: 10px 20px;
  border-radius: 25px;
  border: none;
  background-color: #000;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}
.btn-iniciar{
  padding: 10px 20px;
  border-radius: 25px;
  border: 1px solid #000;
  background-color: #fff;
  color: #000000;
  font-weight: bold;
  cursor: pointer;
}


/* concetos practica */

.contenedor-flexible{
  display: flex; 
  flex-direction: row;
  justify-content:center;
  align-items: center;
  align-content: flex-start;
  flex-wrap: nowrap;
  gap: 10px;
  background-color: blueviolet;
  border: 2px solid black;
  width: 600px;
  height: 500px;
  color: white;
}
.boxy{
    display: flex;
    justify-content: center;
    align-items: center;
  width: 50%;
  height: 80px;
  background-color: orange;
  border: 2px solid black;
  font-size: 1.5rem;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.pato {
  align-self: auto;
  width: 50px;
  width: 40%;
}
.foca {
  align-self: auto;
  width: 40%;
  flex-shrink: 4;
}
/* .perro {
  align-self: auto;
  flex-grow: 1;
} */
.vaca {
  align-self: auto;
  width: 40%;
}